if SHIELD_PETASI_LEFT

config ZMK_KEYBOARD_NAME
    default "petasi"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PETASI_LEFT || SHIELD_PETASI_RIGHT

config ZMK_SPLIT
    default y

endif
